/* .body { 
    display: flex;
    justify-content: center;
    align-items: center;
    
} */

.body-form{
    background-color: #CDBBA7;
    background-clip: border-box;
    height: 250px;
}

.search_bar {
    
    width: 500px;
    height: 50px;
    border-radius: 20px;

}
.toggle_btn {
    
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 20px;
    margin-right: 20px;
    width: 100px;
    height: 60px;
}

.toggle_btn:hover {
    
    background-color: #F4DFD0;
  }