.footer {
    
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    /* background-clip: border-box; */
}

.footer-form {
    height: 300px;
    width: 100%;
}

.food_big_block {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    border-style: solid;
    background-color: #F8E2CF;
    border-style: outset;
}

.food_img_block_up{
    
    margin-left: 10%;
    display: flex;
    position: relative;
}

.food_img_block_down{
    
    margin-left: 10%;
    display: flex;
    position: relative;

}