.header-form {
  background-color: #DAD0C2;
  width: 100%;
  height: 170px;
  border-style: outset;
  
}

.box1 {
    float:left;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.box2 {
    float:left;
    margin-left: 52.5%; 
    margin-top: 1%;  
    display: flex;
    justify-content: center;
    align-items: center;

}
.scale {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
  }
  .scale:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
.img {width:325px; height:280px; overflow:hidden } 

/* 스케일은 냉장고 버튼, 호버 동작시 확대 */

.box3 {
    float:right;
    margin-top: 1%;  
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.box3_id{
  height : 24px;
  margin-right: 5px;
}
.box3_pwd{
  height : 24px;
  margin-right: 5px;
}
.box3_btn{
  height : 30px;
  margin-right: 5px;
}
